<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mycompany.crossapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MyCrossApp</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" /> 
    <allow-intent href="https://*/*" />

<platform name="android">
    <!-- Звичайні іконки (для старих версій Android) -->
    <icon density="mdpi" src="res/icon/android/icon.png" />
    <!-- ... -->

    <!-- Адаптивні іконки (для Android 8.0+) -->
    <icon src="icon.png" foreground="res/icon/android/icon-foreground.png" background="res/icon/android/icon-background.png" />
</platform>


</widget>
